* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

button {
  background-color: #282828;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.add-to-cart,
.add-to-wishlist,
.product-list button:hover,
.cart-list button:hover,
.cart-actions button:hover,
.login-button:hover,
.register-button:hover,
.wishlist-button:hover {
  background-color: #282828;

  .button-container {
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  .add-to-cart,
  .add-to-wishlist {
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: #282828;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }


  .add-to-cart:hover,
  .add-to-wishlist:hover {
    background-color: #007bff;
    color: white;
  }
}

.home-container {
  text-align: center;
  padding: 20px;
}

.home-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.home-subtitle {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.home-text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.home-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 2rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.home-image:hover {
  transform: scale(1.05);
}

.home-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.home-link:hover {
  color: #0056b3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #282828;
  color: #F5F5F5;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s;
}

.nav-container a:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

nav a.active {
  border-bottom: 2px solid #fff;
}

nav button {
  background-color: #fff;
  color: #007bff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav button:hover {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.05);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

body {
  background-color: #F5F5F5;
}



.product-container,
.cart-container,
.login-container,
.register-container,
.wishlist-container,
.registration-complete-container,
.orders-container {
  padding: 20px;

}


.product-list,
.cart-list,
.orders-list,
.wishlist-list {
  list-style: none;
  padding: 0;
}

.product-list li,
.cart-list li,
.orders-list .order-item,
.wishlist-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.product-list li a,
.cart-list li a,
.orders-list .order-item a,
.wishlist-item a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-right: 10px;
}

.product-list li a:hover,
.cart-list li a:hover,
.orders-list .order-item a:hover,
.wishlist-item a:hover {
  transform: translateY(-2px);
}


.product-list img.productImage {
  width: 200px;
  height: auto;
  margin-right: 10px;
  border-radius: 1.5rem;
}


.product-list button:hover,
.cart-list button:hover,
.cart-actions button:hover,
.login-button:hover,
.register-button:hover,
.wishlist-button:hover {
  background-color: #0056b3;
}

.product-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-list li:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}




.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.login-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-error {
  color: red;
  margin-top: 10px;
}

.login-button {
  margin-top: 10px;
}

.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.register-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-error {
  color: red;
  margin-top: 10px;
}

.register-button {
  margin-top: 10px;
}


.registration-complete-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.registration-complete-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.registration-complete-image {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

.registration-complete-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.registration-complete-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.orders-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.orders-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.orders-list {
  list-style: none;
  padding: 0;
}

.order-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-date {
  font-weight: bold;
}

.order-total {
  font-weight: bold;
}

.order-items-list {
  list-style: none;
  padding: 0;
}

.order-item {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-item-name {
  font-weight: bold;
}

.order-item-quantity {
  font-weight: bold;
}

.order-item-price {
  font-weight: bold;
}

.order-total {
  font-size: 1.2rem;
}

.order-date {
  font-size: 0.9rem;
}

.order-items-list {
  margin-top: 10px;
}

.reviews-list {
  list-style: none;
  padding: 0;
}

.review-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.sproduct-container {
  display: flex;
  flex-direction: row;
}


.Sproduct-image {
  width: 500px;
  height: 500px;
  background-color: #ddd;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-left: 5%;
  overflow: hidden;
  background-color: red;
}

.Sproduct-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Sproduct-description {
  flex: 1;
  background-color: #eee;
  padding: 20px;
  background-color: lightblue;
  margin-right: 5%;
}

.Sproduct-info {
  width: 100%;
  height: 100px;
  background-color: grey;
}

/*Profile stuff */

.profile-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 300px;
  background-color: #f9f9f9;
}

.password-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 500px;
  background-color: #f9f9f9;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form label {
  margin-bottom: 5px;
}

.profile-form input {
  margin-bottom: 10px;
  padding: 8px;
}

.save-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}

form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 20px auto;
}

form input,
form label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 15px;
  background-color: #282828;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #1f1f1f;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  color: #333;
}

.orders-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.home-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  color: #333;
}

.orders-container button {
  background-color: #282828;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin: 5px;
}

.orders-container button:hover {
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.home-title,
.form-heading {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.edit-product-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 20px auto;
}

.form-input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  background-color: #282828;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #1f1f1f;
}

.cart-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 20px auto;
}

.cart-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.admin-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.admin-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.admin-nav-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background-color: #282828;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.admin-nav-link:hover {
  background-color: #1f1f1f;
}

.back-button {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #282828;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

nav a img {
  height: 60px;
  width: auto;
  border-radius: 1rem;
}

.nav-container {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
  top: 100%;
  right: 0;
  min-width: 160px;
}

.nav-container .dropdown-menu.active {
  display: block;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu a:last-child,
.dropdown-menu button:last-child {
  border-bottom: none;
}

.dropdown-menu button {
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.homepage-image {
  border-radius: 1rem;
}