form input[type="text"],
form input[type="number"],
form input[type="password"],
form input[type="checkbox"],
form input[type="email"],
form input[type="tel"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;
}

.add-product-form input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

form input,
form label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

body {
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* button,
a {
  background-color: #282828;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin: 5px;
  text-decoration: none; 
  display: inline-block; 
  text-align: center; 
  font-size: 16px; 
}

button:hover,
a:hover {
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
} */




button {
  background-color: #282828;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

button:hover {
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.nav-link {
  background-color: #282828;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}

.nav-link:hover {
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* .add-to-cart,
.add-to-wishlist,
.product-list button:hover,
.cart-list button:hover,
.cart-actions button:hover,
.login-button:hover,
.register-button:hover,
.wishlist-button:hover {
  background-color: #282828;

  .button-container {
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  .add-to-cart,
  .add-to-wishlist .wiishlist-added {
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: #282828;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }


  .add-to-cart:hover,
  .add-to-wishlist:hover {
    background-color: #007bff;
    color: white;
  }
} */

.home-container {
  text-align: center;
  padding: 20px;
}

.home-subtitle {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.home-text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.home-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 2rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.a-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.a-link:hover {
  color: #0056b3;
}

.product-list li a,
.wishlist-item a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.product-list li a:hover,
.wishlist-item a:hover {
  color: #0056b3;
  transform: translateY(-2px);
}

nav {
  background-color: #282828;
  color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s;
}

.nav-container a:hover {
  background-color: #282828;
  transform: translateY(-2px);
}

nav a.active {
  color: darkgoldenrod;
}

nav button {
  background-color: #282828;
  color: #f5f5f5;
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav button:hover {
  background-color: #282828;
  transform: translateY(-2px);
}

.profile-image img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 20px;
}

.user-gretting {
  font-weight: bold;
}


.cart-list li,
.orders-list .order-item,
.wishlist-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

/* .product-list img.productImage {
  width: 200px;
  height: auto;
  margin-right: 10px;
  border-radius: 1.5rem;
}

.product-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-list li:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
}

.product-box {
  width: 500px;
}

.product-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  display: block;
}

.product-description {
  max-width: 400px;
  word-wrap: break-word;
}

.product-actions {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
} */

.product-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;

}

.product-search {
  display: flex;
  justify-content: center;
  max-width: 350px;
  align-items: center;
  margin-bottom: 10px; 
}

.product-search input[type="text"] {
  flex: 1;
  padding: 6px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}


.filter-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 10px;
}

.product-filter {
  flex: 1;
  margin-bottom: 5px; 
}

.product-filter label {
  font-weight: bold;
}

.product-filter select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.vip-label {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
}

.vip-label input[type="checkbox"] {
  margin-right: 5px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-box {
  flex: 1;
  max-width: calc(33.33% - 20px);
  min-width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-box:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.product-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.product-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.productImage {
  width: 200px;
  height: auto;
  border-radius: 1.5rem;
}

.product-description {
  max-width: 400px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}


.registration-complete-container,
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.registration-complete-container:hover,
.form-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.error {
  color: red;
  margin-top: 10px;
}

.registration-complete-image {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

.orders-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  overflow-x: auto;
}

.orders-container table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

.orders-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.orders-list {
  list-style: none;
  padding: 0;
}

/* .order-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  align-content: center;
} */
/* .order-item {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.order-info {
  font-size: 0.9rem;
  font-weight: bold;
}

.order-total {
  font-weight: bold;
  background-color: lightblue;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.2rem;
}

.shipping-info {
  margin: 1rem;
  padding: 1rem;
  width: fit-content;
  background-color: gainsboro;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.order-item-text {
  font-weight: bold;
}

.reviews-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.review-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.sproduct-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  flex: 1;
}

.Sproduct-image {
  width: 500px;
  height: 500px;
  background-color: #ddd;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-left: 5%;
  overflow: hidden;
  background-color: red;
}

.Sproduct-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Sproduct-description {
  flex: 1;
  background-color: #eee;
  padding: 20px;
  background-color: gainsboro;
  margin-right: 2%;
  height: 500px;
}

.Sproduct-info {
  width: 50%;
  height: 100px;
  background-color: rgb(124, 124, 124);
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  color: #333;
}

.home-title,
.form-heading {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.cart-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 20px auto;
}

.cart-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.admin-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.admin-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

nav a img {
  height: 50px;
  width: auto;
  border-radius: 1rem;
}

.nav-container {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
  top: 100%;
  right: 0;
  min-width: 160px;
}

.nav-container .dropdown-menu.active {
  display: block;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 10px;
  color: #282828;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu a:hover {
  color: #fff;
}

.dropdown-menu a:last-child,
.dropdown-menu button:last-child {
  border-bottom: none;
}

.dropdown-menu button {
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.homepage-image {
  border-radius: 1rem;
}

.wishlist {
  list-style: none;
  padding: 0;
}

.wishlist-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wishlist-item-image {
  width: 200px;
  height: auto;
  margin-right: 15px;
  border-radius: 1rem;
}

.wishlist-item-details {
  flex-grow: 1;
}

.wishlist-add-to-cart,
.wishlist-remove {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}


.wishlist-error {
  margin-top: 10px;
  color: red;
  margin-top: 10px;
}

.rating {
  display: flex;
  justify-content: flex-start / flex-end / center;
  gap: 0px;
  margin: 0px;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
  transition: background-color 1s, color 1s;
}

.dark-mode nav {
  background-color: #1e1e1e;
  color: #e0e0e0;
  transition: background-color 1s, color 1s;
}

.dark-mode nav a {
  color: #e0e0e0;
}

.dark-mode nav button {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode h1 {
  color: #e0e0e0;
}

.dark-mode-button {
  background-color: #282828;
  color: #282828;
  padding: 10px;
}

.dark-mode button {
  background-color: #282828;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

.dark-mode button:hover {
  background-color: #373737;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.dark-mode .product-container,
.dark-mode .cart-container,
.dark-mode .login-container,
.dark-mode .register-container,
.dark-mode .wishlist-container,
.dark-mode .registration-complete-container,
.dark-mode .orders-container,
.dark-mode .admin-container,
.dark-mode .edit-product-form {
  background-color: #242424;
  color: #e0e0e0;
  border-color: #373737;
  transition: background-color 1s, color 1s;
}

.dark-mode .orders-container {
  background-color: #242424;
  color: #e0e0e0;
}

.dark-mode .orders-header {
  color: #ffffff;
}

.dark-mode .order-item {
  background-color: #1e1e1e;
  border-color: #373737;
}

.dark-mode .order-total,
.dark-mode .shipping-info {
  color: #373737;
}

.dark-mode .order-details,
.dark-mode .shipping-info,
.dark-mode .order-items-list,
.dark-mode .order-item-name,
.dark-mode .order-item-price,
.dark-mode .order-total {
  border-color: #373737;
}

.Sproduct-description {
  color: #373737;
  font-weight: bold;
}

.dark-mode .product-list li,
.dark-mode .cart-list li,
.dark-mode .orders-list .order-item,
.dark-mode .wishlist-item {
  background-color: #1e1e1e;
  border-color: #373737;
}

.dark-mode .product-list li a,
.dark-mode .cart-list li a,
.dark-mode .orders-list .order-item a,
.dark-mode .wishlist-item a {
  color: #e0e0e0;
}

.dark-mode nav button:hover {
  background-color: #1f1f1f;
}

.dark-mode nav a.active {
  color: darkgoldenrod;
}


.dark-mode table,
.dark-mode th,
.dark-mode td {
  border-color: #373737;
  transition: border-color 1s;
}

.dark-mode th {
  background-color: #242424;
  color: #e0e0e0;
  transition: background-color 1s, color 1s;
}

.dark-mode .dropdown-menu {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode form {
  color: #373737;
}

.success-message {
  color: #00cc00;
  font-weight: bold;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .home-container,
  .product-container,
  .cart-container,
  .login-container,
  .register-container,
  .wishlist-container,
  .registration-complete-container,
  .orders-container,
  .admin-container,
  .edit-product-form {
    padding: 10px;
    margin: 5px;
  }

  .home-title,
  .form-heading {
    font-size: 24px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a,
  nav button {
    margin: 5px 0;
  }

  .orders-container {
    overflow-x: scroll;
  }

  .product-list li,
  .cart-list li,
  .orders-list .order-item,
  .wishlist-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-list img.productImage,
  .wishlist-item-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  form input,
  form textarea {
    width: calc(100% - 16px);
  }

  .Sproduct-container {
    flex-direction: column;
  }

  .Sproduct-image {
    width: 100%;
    margin-right: 0;
  }

  .Sproduct-description {
    margin-top: 20px;
  }
}

.wishlist-added {
  color: #007bff;
  font-weight: bold;
}

.dark-mode .wishlist-added {
  color: #ffffff;
  font-weight: bold;
}

.singleProduct-container {
  display: flex;
  flex-wrap: wrap;
}

.product-container,
.product-and-form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  padding-right: 0px;
}

.reviews-container {
  flex: 1;
  margin-left: 0px;
  padding-left: 0px;
}

.review-form {
  width: 100%;
}

.scrollable-content {
  overflow-y: auto;
  height: calc(50vh);
}
