body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
 justify-content: space-evenly;
 background-color: rgb(167, 166, 166);
 color: white;

}

/* Products styling */

.productImage {
  width: 100px;
  height: 150;
}


.flash-effect {
  animation: flashAnimation 3s;
}

@keyframes flashAnimation {
  0%, 100% {background-color:transparent;}
  50% {background-color: red;}
}